doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div.container.listing-reg
      h1 我的 Node.js 应用
      
      block content